@import '~@angular/material/theming';

/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto,
    "Helvetica Neue", sans-serif;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #3F51B5;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.elevation {
  @include mat-elevation-transition;
  @include mat-elevation(4);

  &:hover {
    @include mat-elevation(12);
  }
}

.elevation-light {
  @include mat-elevation(2);
}