<mat-toolbar color="primary">
    <span routerLink="/">
        Room Booking
    </span>

    <div class="toolbar-content">

        <ng-template [ngIf]="currentUser != null">
            <a mat-button routerLink="/location">Ma Chambre</a>
        </ng-template>
        
        <span class="spacer"></span>

        <ng-template [ngIf]="currentUser != null" [ngIfElse]="loggedout">
            <button mat-button color="accent" [matMenuTriggerFor]="menu">{{ identity }}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deconnexion()">Déconnexion</button>
            </mat-menu>
        </ng-template>

        <ng-template #loggedout>
            <a mat-stroked-button color="accent" routerLink="/inscription" class="toolbar-element">S'inscrire</a>
            <a mat-flat-button color="accent" routerLink="/connexion" class="toolbar-element">Se connecter</a>
        </ng-template>

    </div>
</mat-toolbar>