<div class="container">
    
    <h1>Chambre disponible</h1>
    
    <div class="grid">
        <div *ngFor="let apatrment of apatrments" class="tile elevation">
            <mat-card>
                <img mat-card-image src="./../../assets/images/interior-design-4467768_640.jpg" alt="Photo of a Shiba Inu">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, enim! Soluta reprehenderit iure animi
                        veniam
                        impedit ea aliquam repudiandae quos nihil recusandae assumenda delectus ad corrupti nemo, veritatis dolor
                        aliquid.
                    </p>
                </mat-card-content>
            </mat-card>            
        </div>
    </div>
</div>

